@use "../abstracts" as *;

/*
=======================================
	Navigation Button
=======================================
*/

.button {
	padding: 0.75em 2em;
	border: none;
	border-radius: 3px;
	background-color: $c-accent-light;
	color: $c-dark;
	font-family: $f-body;
	font-size: 1em;
	font-weight: 500;
	transition: all 0.2s ease 0s;
	transition-property: background-color, box-shadow, transform;
	&:hover {
		background-color: $c-anti;
		box-shadow: $c-anti-light-transparent 0px 0px 25px;
		cursor: pointer;
		// transform: scale(1.05);
	}
}


/*
=======================================
	Back to top button
=======================================
*/

.rightRail {
	position: fixed;
	z-index: 80;
	right: 1vw;
	width: 9vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	&:hover {
		.gotoContainer {
			opacity: 1;
		}
		.gotoButton {
		// opacity: 1;
		background-color: transparent;
		height: 20px;
		width: 20px;
		border: 3px solid $c-dark;
		border-radius: 50%;
		}
	}
}

.gotoContainer {
	opacity: 0.5;
	background-color: $c-light;
	border: 1px solid white;
	box-shadow: $c-dark-shadow 0 0 10px;
	width: 40px;
	border-radius: 20px;
	transition: opacity 0.3s ease;
}

.gotoButtonOuter {
	cursor: pointer;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	&:hover .gotoButton{
		border-color: $c-accent;
		transform: scale(1.5);
		background-color: $c-accent;
		box-shadow: $c-accent-light 0 0 10px;
		// transform: scale(1.75);
		.gotoLabel {
			visibility: visible;
		}
	}
}

.gotoButton {
	display: flex;
	align-items: center;
	opacity: 1;
	height: 3px;
	width: 3px;
	border: 3px solid $c-dark;
	border-radius: 50%;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	transition: all 0.1s ease-out;
	transition-property: transform, height, width;
}
.gotoLabel {
	visibility: hidden;
	font-size: 0.6em;
	font-weight: 500;
	position: absolute;
	width: max-content;
	right: 35px;
	color: $c-accent;
	text-transform: uppercase;
	background-color: $c-light;
	padding: 0.5em 1em;
	border-radius: 100px;
	box-shadow: $c-dark-shadow 0 0 10px;
}

// .buttoncontainer {
// 	z-index: 99;
// 	position: fixed;
// 	bottom: 10vh;
// 	right: 3vw;
// }

#returnToLandingButton {
	top: 5vh;
}

#backToTopButton {
	bottom: 5vh;
}

.circleButton {
	position: absolute;
	bottom: 10vh;
	height: 80px;
	width: 80px;
	background-color: $c-accent;
	box-shadow: $c-accent-light-transparent 0px 0px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: $c-light;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	transition-property: box-shadow, background-color, transform, opacity, visibility;
	img {
		// display: block;
		height: 75%;
		filter: invert(1);
	}
	
	&:hover {
		box-shadow: $c-anti-light-transparent 0px 0px 25px;
		background-color: $c-anti;
		transform: scale(1.1) ;
		
		img {
			filter: invert(0);
		}
	}
}

.hide {
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 1;
	visibility: visible;
}

.show.gotoContainer {
	opacity: 0.5;
}



.hamburger {
	// width: 60px;
	// height: 60px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 1em;
	position: fixed;
	z-index: 99;
	top: 1em;
	right: 1em;
	&__button {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		padding: 0.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $c-light;
		cursor: pointer;
		box-shadow: $c-dark-shadow 0 0 10px;
		transition: all 0.2s ease;
		transition-property: background-color, box-shadow;
		user-select: none;
		&:hover {
			background-color: $c-accent;
			box-shadow: $c-accent-light-transparent 0px 0px 25px;
		}

	}
	&__inner {
		width: 300px;
		// height: 500px;
		display: flex;
		flex-direction: column;
		gap: 1em;
		opacity: 1;
		&__item {
			font-weight: 500;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			height: 60px;
			border: 2px solid white;
			border-radius: 100px;
			padding: 0.1em 30px;
			background-color: $c-light;
			box-shadow: $c-dark-shadow 0 0 10px;
			transition: all 0.2s ease;
			transition-property: color, box-shadow, border;
			&:hover {
				color: $c-accent;
				box-shadow: $c-accent-light-transparent 0px 0px 25px;
				border-color: $c-accent;
			}
			div {
				display: inline;
			}
		}
	}
}

.permanent {
	background-color: $c-accent !important;
}

#displayDim {
	position: fixed;
	height: 110vh;
	width: 110vw;
	opacity: 0.3;
	background-color: $c-dark;
	z-index: 98;
	// overflow: hidden;
}