@use "../abstracts" as *;

nav {
	width: 100%;
	max-width: $size-contentLimit;
	// border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover li {
		border: 2px solid transparent;
		box-shadow: $c-dark-shadow 0px 0px 7px;
	}
	ul {
		// height: 100vh;
		// max-width: $size-contentLimit;
		width: 100%;
		margin: 0;
		padding: 0 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// gap: 3em;
		li {
			margin: 1em;
			border: 2px solid transparent;
			transition: all 0.2s ease;
			transition-property: transform, box-shadow;
			text-decoration: none;
			color: $c-dark;
			font-family: $f-body;
			font-weight: 700;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			// transition: transform 0.1s ease;
			cursor: pointer;
			border-radius: 100px;
			// &:hover {

			// }
		}
	}
}

.navInitial {
	width: 100%;
	padding: 75px;
	&:hover li {
		border: 2px solid transparent;
		box-shadow: $c-dark-shadow 0px 0px 25px;
	}
	ul{
		li{
			// border: 2px solid $c-dark;
			// height: 80px;
			padding: 2em;
			// transition: transform 0.1s ease;
			&:hover {
				transform: scale(1.15);
				border-color: $c-accent;
				background-color: $c-accent;
				color: white;
				box-shadow: $c-accent-light-transparent 0px 0px 50px;
			}
		}
	}
}

.mainNav {
	// max-width: $size-contentLimit;
	// justify-content: left;

	ul {
		li {
			// border-radius: 0;
			// height: 80px;
			// border: 2px solid transparent;
			padding: 1em 2em;
			transition: all 0.2s ease;
			transition-property: color, box-shadow, border;
			&:hover {
				color: $c-accent;
				box-shadow: $c-accent-light-transparent 0px 0px 25px;
				border-color: $c-accent;
			}
		}
	}
}

.mainHeader {
	// background-color: $c-accent;
	height: 100px;
}

.landingBelow {
	position: absolute;
	bottom: 0;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 30%;
}

.hideAfterLanding {
	opacity: 1;
	transition: all 0.3s ease;
}

.visibleInLanding {
	opacity: 1;
	visibility:visible;
	transition: opacity 0.3s ease;
}

.hiddenFromLanding {
	opacity: 0;
	transition: opacity 0.3s ease;
	// visibility:hidden;
}

// .mainNav {
// 	color: red;
// 	&__Outer {
// 		color:red;
// 	}
// }