@use "../abstracts" as *;

body {
	margin: 0 auto;
	// max-width: $size-eventHorizon;
	background-color: $c-light;
	box-shadow: $c-dark-shadow 0px 0px 25px;
}

header {
	background-color: $c-light;
	// box-shadow: $c-dark-shadow 0px 0px 25px;
}

main {
	margin: 0 auto;
	padding: 0;
}

footer {
	background-color: $c-dark;
	padding: 5em 1em;
	color: $c-light;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*
=======================================
	Section strucutre
=======================================
*/

.superSection {
	padding: 0;
	width: 100%;
}

section {
	margin: 0 auto;
	padding: 10em 2em 20em;
	// height: 100%;
	max-width: $size-contentLimit;
}

.subSection {
	display: flex;
	justify-content: space-between;
	p {
		flex: 60%;
		flex-grow: 0;		
	}
	img {
		width: 300px;
		flex: 30%;
		flex-grow: 0;
	}
}

/* Section coloring */

.sectionColor1 {
	background-color: $c-dark;
}

.whiteText {
	color: $c-light;
	a {
		color: $c-light;
	}
	::selection {
		color: $c-dark;
	}
}

.sectionColor2 {
	background-color: $c-anti-light;
}

// Landing

#landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// .landingSectionHeading, .landingSectionNav{
	// 	width: 100%;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// }
}
	.landingReadyToHide {
		transition: height 1.5s cubic-bezier(.48,.4,.3,1);
	}

	.landingHeading {
		display: flex;
		justify-content:end;
		align-items: center;
		flex: 40%;
		h1 {
			margin: 0;
			font-size: 10rem;
		}
	}

	.landingNav {
		flex: 30%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6em;	
	}
		.navOuter {
			text-decoration: none;
			padding: 1em;
			color: $c-dark;
			font-family: $f-body;
			font-weight: 700;
			text-transform: uppercase;
			border: 3px solid $c-dark;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80px;
			border-radius: 40px;
			padding: 2em;
			transition: transform 0.1s ease;
			cursor: pointer;
			&:hover {
				transform: scale(1.2);
				border-color: $c-accent;
				background-color: $c-accent;
				color: white;
				box-shadow: $c-accent-light-transparent 0px 0px 50px;
			}
		}

.landingBelow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 30%;
}

.hideAfterLanding {
	transition: opacity 0.2s ease;
	transition: transform 0.2s ease;
}

.hiddenFromLanding {
	height: 0;
	width: 0;
	transform: scale(0);
	opacity: 0;
	overflow: hidden;
}

#limbo {
	height: 200vh;
}



/* Welcome Section */

#welcome {
	p {
		font-size: 1.75rem;
		font-style: italic;
	}
	h1 {
		font-style: italic;
	}
}

#scrollPrompt {
	animation: phase 2s infinite;
	animation-timing-function: ease-in-out;
}

/*
=======================================
	Cards
=======================================
*/

.cardContainer {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 100%;
}

.card {
	padding: 1em;
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	border: 2px solid white;
	border-radius: 6px;
	background-color: $c-light;
	box-shadow: $c-dark-shadow 0px 0px 25px;
	color: $c-dark;
	cursor: default;
	transition: all 0.15s ease 0s;
	transition-property: transform, box-shadow;
	&:hover {
		transform: scale(1.05);
        // transform-origin: right;
		box-shadow: $c-dark-shadow 0px 0px 50px 10px;
	}
	h3 {
		margin-top: 0;
	}
}


/*
=======================================
	Parallax
=======================================
*/

.parallax {
	background-position: top;
	background-position-y: 0px;
	background-size: auto 150vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.para0 {
	background-image: url('../images/cave.jpg');
}

.para1 {
	background-image: url('../images/mountains.jpg');
}

.para2 {
	background-image: url('../images/telescope.jpg');
}