@use "../abstracts" as *;

body {
	margin: 0 auto;
	max-width: $size-eventHorizon;
	background-color: $c-light;
	box-shadow: $c-dark-shadow 0px 0px 25px;
}

header {
	max-width: $size-eventHorizon;
	margin: 0 auto;
	background-color: $c-light;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// height: 100px;
	// box-shadow: $c-dark-shadow 0px 0px 25px;
}

main {
	margin: 0 auto;
	padding: 0;
}

footer {
	background-color: $c-dark;
	padding: 5em 1em;
	color: $c-light;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/*
=======================================
	Section strucutre
=======================================
*/

.superSection {
	padding: 0;
	width: 100%;
}

section {
	margin: 0 auto;
	padding: 10em 2em 20em;
	// height: 100%;
	max-width: $size-contentLimit;
}

.subSection {
	display: flex;
	justify-content: space-between;
	p {
		flex: 60%;
		flex-grow: 0;		
	}
	img {
		width: 300px;
		flex: 30%;
		flex-grow: 0;
	}
}

/* Section coloring */

.sectionColor1 {
	background-color: $c-dark;
}

.whiteText {
	color: $c-light;
	a {
		color: $c-light;
	}
	::selection {
		color: $c-dark;
	}
}

.sectionColor2 {
	background-color: $c-anti-light;
}

// Landing

.headerTransition {
	transition: all 1s cubic-bezier(.48,.4,.3,1);
	// transition-property: height, background-color, opacity;
}

.navTransition * {
	transition: all 0.5s ease;
}

#landingHeading {
	position: absolute;
	display: flex;
	justify-content:center;
	align-items: center;
	height: 40vh;
	top:0;
	flex: 40%;
	h1 {
		margin: 0;
		font-size: 10rem;
	}
}


/* Welcome Section */

#welcome {
	p {
		font-size: 1.75rem;
		font-style: italic;
		font-weight: 300;
	}
	h1 {
		font-style: italic;
	}
}

#scrollPrompt {
	animation: phase 2s infinite;
	animation-timing-function: ease-in-out;
}

/*
=======================================
	Cards
=======================================
*/

.cardContainer {
	padding: 3em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 100%;
}

.card {
	padding: 1em;
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	border: 2px solid white;
	border-radius: 6px;
	background-color: $c-light;
	box-shadow: $c-dark-shadow 0px 0px 25px;
	color: $c-dark;
	cursor: default;
	transition: all 0.15s ease 0s;
	transition-property: transform, box-shadow;
	&:hover {
		transform: scale(1.05);
        // transform-origin: right;
		box-shadow: $c-dark-shadow 0px 0px 50px 10px;
	}
	h3 {
		margin-top: 0;
	}
}

.htmlColor {
	color: $c-html;
}

.cssColor {
	color: $c-css;
}

.javascriptColor {
	color: $c-javascript;
}

.gridContainer {
	padding: 3em 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 400px;
	grid-row-gap: 2em;
	grid-column-gap: 2em;
	width: 100%;
}

.gridCard {
	grid-column: span 1;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 6px;
	padding: 0.5em;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: $c-dark-shadow 0px 0px 25px;
	transition: transform 0.1s ease;
	&:hover {
		transform: scale(1.05);
		.card__content {
			opacity: 1;
		}
	}

	.card__title {
		flex: auto;
		display: flex;
		justify-content: start;
		align-items: start;
		&__inner {
			color: $c-dark;
			box-shadow: $c-dark-shadow 0px 0px 10px;
			background-color: $c-light;
			padding: 0.5em 1em;
			border-radius: 3px;
			font-weight: 500;
		}
	}
	cursor: default;
}

.card__content {
	flex: 0 1 50%;
	background-color: $c-light;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 3px;
	padding: 0.5em;
	font-size: 0.9rem;
	transition: opacity 0.3s ease;
	box-shadow: $c-dark-shadow 0px 0px 10px;
	&__upper {
		display: flex;
		flex-direction: column;
		justify-content: end;
		width: 100%;
		transition: opacity 0.3s ease 0.5s;
		// flex: 85%;
		p {
			margin: 0;
			// font-size: 0.9rem;
			// bottom: 0;
		}
		
	}

	&__lower {
		// opacity: 0;
		// flex: 15%;
		width: 100%;
		height: 50px;
		// background-color: yellow;
		display: flex;
		align-items: center;
		border-top: 2px solid $c-offLight;
		> * {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 100%;
		}
		&__left {
			border-right: 1px solid $c-offLight;
			a {
				font-weight: 500;
				text-transform: uppercase;
				padding: 0.5em 1em;
				&:hover{
					cursor: pointer;
				}
			}
		}
		&__right {
			border-left: 1px solid $c-offLight;
			&__button {
				background-color: $c-javascript;
				padding: 0.5em 1em;
				border-radius: 50px;
			}
		}
	}
}

/*
=======================================
	Parallax
=======================================
*/

.parallax {
	background-position: center;
	background-position-y: 0px;
	// background-size: 100vw auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.paraSnow {
	background-image: url('../images/snow.jpg');
}

.paraCoffee {
	background-image: url('../images/coffee.jpg');
}

.paraTall {
	background-image: url('../images/tall.jpg');
}

.paraRed {
	background-image: url('../images/red.jpg');
}

.paraStreaks {
	background-image: url('../images/streaks.jpg');
}