* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.choicesContainer {
    margin: 2em 0;
    width: 400px;
    height: 200px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
}

.choicesContainer > * {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.buttonContainer {
    width: 400px;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.buttonContainer button {
    width: 150px;
    padding: 0.5em 1em;
}

#outcomeLabel {
    font-size: 2em;
    width: 400px;
    text-align: center;
}