$accent: #5522FA;
$accent-light: lighten($accent, 10%);
$accent-superLight: lighten($accent, 20%);
$accent-light-transparent: rgba($accent-light, 0.4);

$anti: #ffde49;
$anti-light: lighten($anti, 15%);
$anti-superLight: lighten($anti, 20%);
$anti-light-transparent: rgba($anti-light, 0.4);

$dark: #0a0a0a;
$dark-shadow: rgba($dark, 0.2);

$light: #fafafa;