$accent: #5522FA;
$accent-light: lighten($accent, 10%);
$accent-superLight: lighten($accent, 20%);
$accent-light-transparent: rgba($accent-light, 0.4);

$anti: #ffde49;
$anti-light: lighten($anti, 15%);
$anti-superLight: lighten($anti, 20%);
$anti-light-transparent: rgba($anti-light, 0.4);

$dark: #0a0a0a;
$dark-shadow: rgba($dark, 0.2);

$light: #fafafa;
$offLight: #dadada;

$html: #e34c26;
$html-light: lighten($html, 15%);
$css: #264de4;
$css-light: lighten($css, 15%);
$javascript: #fcdc00;
$javascript-light: lighten($javascript, 15%);