@use "abstracts" as *;
@use "components" as *;

::selection {
	background: $c-anti-light-transparent;
}

/* Resets global margin and padding to be 0 — allows for greater control, although I need to declare a few things to get started, the compromise is worth it :) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}